.socialCards {
    display: grid;
    $cols: 3;
    grid-template-columns: repeat($cols, calc(100% / $cols));
}

@media only screen and (max-width: 830px) {
    .socialCards {
        $cols: 2;
        grid-template-columns: repeat($cols, calc(100% / $cols));
    }
}

@media only screen and (max-width: 530px) {
    .socialCards {
        $cols: 1;
        grid-template-columns: repeat($cols, calc(100% / $cols));
    }
}
