.socialCard {
  border: 1px solid black;
  border-radius: 13px;
  padding: 10px;
  margin: 10px;
  transition: transform 100ms;
  box-shadow: 0 0 10px #00000067;
  background: #fff;

  &:hover {
    transform: rotate(2deg) scale(1.03);
  }

  .title {
    display: flex;
    margin-bottom: 10px;

    h1 {
      font-size: 30px;
      line-height: 30px;
      flex: 1;
    }

    svg {
      height: 30px;
      width: 30px;
    }
  }

  .icon {
    border: 1px solid black;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 10px;
  }

  .username {
    display: flex;
    border: 1px solid black;
    margin-bottom: 10px;
    font-family: monospace;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 8px;
    font-size: 20px;
    background-color: #2b2b2b;
    color: #fff;
    user-select: text;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    height: 100px;

    * {
      flex: 1;
      height: 100%;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      &:hover {
        animation: blink forwards 2s linear;
      }
    }
  }
}

@keyframes blink {
  0%,
  10%,
  20%,
  100% {
    opacity: 1;
  }
  5%,
  15% {
    opacity: 0.5;
  }
}

@media only screen and (max-width: 830px) {
  .socialCard:hover {
    transform: none;
  }
}